<form class="pure-form" name="form" ng-submit="postForm('auth/delete', form, logout)" novalidate>
	<div class="errormsg" ng-show="errormsg"><i class="fa fa-fw fa-exclamation-circle"></i> {{errormsg}}</div>
	<div class="successmsg" ng-show="successmsg"><i class="fa fa-fw fa-check-circle"></i> {{successmsg}}</div>

	<span ng-show="!successmsg">
		<p>To confirm deletion of your account please type your password.</p>

		<input type="password" class="pure-input-2-3" ng-model="form.password" placeholder="Password" ng-required ng-minlength="6" ng-maxlength="72">

		<button class="pure-button pure-input-2-3 pure-button-primary" type="submit" ng-disabled="form.$invalid || form.$pristine">Delete Account</button><br/><br/>
	</span>
</form>