<form class="pure-form">
	<legend>Activate Account</legend>
	
	<div class="errormsg" ng-show="errormsg"><i class="fa fa-fw fa-exclamation-circle"></i> {{errormsg}}</div>
	<div class="successmsg" ng-show="successmsg"><i class="fa fa-fw fa-check-circle"></i> {{successmsg}}</div>

	<span ng-show="!successmsg">
		Activation key : <strong>{{key}}</strong><br/><br/>
		<button class="pure-button pure-input-2-3 pure-button-primary" type="submit" ng-click="ajaxActivate()">Submit</button><br/><br/>
	</span>

	<span ng-show="successmsg">
		<a class="pure-button pure-button-primary" href="#/login">Go to login</a>
	</span>
</form>